/* Box Model Hack */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Responsive font */
hmtl {
  font-size: 62.5%;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: black;
  color: white;
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#age {
  width: 7vw;
  cursor: pointer;
}

#form,
.size {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size {
  width: 40vw;
}

#height,
#weight {
  width: 7vw;
}

.activity,
.goals {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

button {
  height: 2em;
}