/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Responsive font */
hmtl {
  font-size: 62.5%;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: black;
  color: white;
}


/******************************************
/* LAYOUT
/*******************************************/
header {}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#age {
  width: 5em;
  cursor: pointer;
}